        * {
        font-family: Arial, Verdana, sans-serif;
        color: #665544;
        box-sizing: border-box;}
        
        header h1 {
        color: white; }

        body{
            background-color:#1c1329;
        }

        h4{
            color:#f7f4f9;
        }

       /* section h3 {
            font-weight: 
        }*/

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: white;}

        .row-color-1 {
            background-color:antiquewhite;
        }
